[Unit]
Description=Tells the system that it wants to use SSM with the configuration in the /boot/ssm file
ConditionPathExists=/boot/ssm
Before=amazon-ssm-agent.service
Wants=amazon-ssm-agent.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c " \
    set -a && \
    source /boot/ssm && \
    /usr/bin/amazon-ssm-agent --clear --register --code \"$SSM_CODE\" --id \"$SSM_ID\" --region \"$SSM_REGION\" -y; \
"
ExecStart=/bin/rm -f /boot/ssm

[Install]
WantedBy=network-online.target

